{% extends 'base.html.twig' %}

{% block title %}Série #{{ episode.id }}
{% endblock %}

{% block body %}

	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<a href="{{ path("category_show", { categoryName: program.category.name }) }}">
				<p>Catégorie :
					{{ program.category.name }}</p>
			</a>
			<a href="{{ path("program_show", { slug: program.slug }) }}">
				<h1 class="mt-0">{{ program.title }}</h1>
			</a>
			<a href="{{ path("program_season_show", { slug: program.slug, season: season.id }) }}">
				<h3 class="mt-0">{{ season.description }}</h3>
			</a>
			<h6>Episode {{ episode.number }} - {{ episode.title }}</h6>
			<p>{{ episode.synopsis }}</p>
		</div>
	</div>

	<a href="{{ path("program_show", { slug: program.slug }) }}">
		Retour à la liste des saisons
	</a>

{% endblock %}
